name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 6,12,18 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, activity, community, repositories
          template: classic
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          config_display: large
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_stars: yes
          config_order: base.header, base.activity+community, base.repositories, languages, stars, isocalendar
          config_timezone: Europe/Paris
          plugin_code: yes
          plugin_achievements: yes
          plugin_achievements_secrets: yes
          plugin_reactions: yes
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
